<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="true"/>
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
         如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--<add key="ConnectionString" value="C7858DB550DCB5F335580D4F9628066F7579DE0866A0DC7609FE656A87A31203C3DEE08FDEDD5825BAF4040A622DCFC9F71CCD2A0525AAF607FAD2B5357A16EFB872D1B6F8C135C08C041C8F84E21F4E"/>-->
    <!--本地测试-->
    <add key="ConnectionString" value="8618B53C32BF8E0B6CD3BDFF59B9F24BE1C6D586A5915C8BBF9CCEBAA438228BECDE0B5B27B7B9AB2B9F207AB6C9F6DDAF524988B0F1FAD2"/>
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <!--<add key="ConnectionStringAccounts" value="server=127.0.0.1;database=codematic;uid=sa;pwd=1"/>-->
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <add key="ConnectionString2" value="1F6D0E7B9D0847D2C38CD29A5E2AA560C056FB68F1B8FC4494E80C04B20645E8882D7E180EEE546A97040143C3DBDA83"/>
    <!--FTP 连接账号&密码-->
    <add key="FTPFolder" value="301797CDA1FF7E014E1EB902F81504DA"/>
    <add key="FTP" value="8C2D2881303112A2E53EA52617767589C980E3E3ECDB6D6B"/>
    <add key="FTPUser" value="4872B56889552E7171A3CF3A03D10010"/>
    <add key="FTPPWD" value="7AF7E0382B9FDD3A"/>
    <add key="FTPPort" value="21"/>
    <!--<add key="FTPFolder" value="192.168.1.188"/>
    <add key="FTP" value="ftp://192.168.1.188/"/>
    <add key="FTPUser" value="administrator"/>
    <add key="FTPPWD" value="anjie"/>
    <add key="FTPPort" value="21"/>-->
    <!--<add key="FTP" value="ftp://192.168.77.123/"/>
    <add key="FTPFolder" value="192.168.77.123"/>
    <add key="FTPUser" value="yan"/>
    <add key="FTPPWD" value="1"/>
    <add key="FTPPort" value="21"/>-->

    <add key="ImgWidth" value="1024"/>
    <add key="ImgHeight" value="1024"/>
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value=""/>
    <!--登录页地址 -->
    <add key="LoginPage" value="admin/Login.aspx"/>
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="false"/>
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30"/>
    <!--FreezerPro访问地址-->
    <add key="FpUrl" value="http://192.168.77.128"/>
    <!--<add key="FpUrl" value="http://192.168.1.155"/>-->
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576"/>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <customErrors mode="Off"/>
    <identity impersonate="false"/>
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="40">
      </forms>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
</configuration>
